.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5eb48d3fef49df153d320521/1615045363001-DJXR515LC4U5UWMKWX01/Sherlock+Toy+Face-high.gif?format=750w");
  background-size: contain;
  background-position: center;
}
